@charset "utf-8";
/* zerando as margens da página toda*/
body{
	margin:0;
}

/*configuração do topo com a imagem*/
#topo{
	width: auto;
	height: 560px;
	background-image: url('../imagens/topo.png');
	background-size: 100%;
	}

/*configuração da barra de menus*/
#menu ul {
			padding:0px;
			margin:0px;
			float: left;
			width: 100%;
			background-color:#EDEDED;
			list-style:none;
			font:36px Tahoma;
		}
 
		#menu ul li { display: inline; }
 
		#menu ul li a {
			background-color:#EDEDED;
			color: #333;
			text-decoration: none;
			border-bottom:3px solid #EDEDED;
			padding: 2px 70px;
			float:left;
		}
 
		#menu ul li a:hover {
			background-color:#D6D6D6;
			color: #6D6D6D;
			border-bottom:3px solid #EA0000;
		}
/*configuração dos cabeçalhos e dos parágrafos*/
h2{
	color:#333;
	text-indent: 15px;
	font-family: Tahoma;
}
p{
	color:#333;
	font-family: Tahoma;
	text-indent: 30px;
}

/*configuração do formulario de contato*/
h1{
  text-align: center;
  font-family: Tahoma;
  color: #333;
  font-size: 40px;
}
h3{
  font-family: Tahoma;
  color: #333;
  text-indent: 25px;
  }


.container {
  width: 50%;
  margin: 0 auto;
}
/*configuração do tamanho do formulario*/
.form-contato {
  width: 100%;
  font-family: "Arial", Times, serif;
}
/*configuração das caixas de texto*/
.form-contato-input {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
}
/*configuração da area de comentario*/
.form-contato-comentario {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Arial", Times, serif;
}
/*configuração do botao enviar*/
.form-contato-botao {
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  opacity: .8;
  margin-bottom: 20px;
  cursor: pointer;
  background: #B22222;
  display: block;
  border: none;
  border-bottom: 1px solid #500707;
  border-right: 1px solid #500707;
  transition: 1s;
}

.form-contato-botao:hover {
  opacity: 1;
}

/*configuração do rodapé da página*/
#rodape{
	width:100%;
	height: 50px;
	margin: 0 auto;
	background-color:#303030; 
	text-align: center;

}
 
#rodape p{
	color:#ffffff;
}
